:root {
  --present-color: #b59f3b;
  --correct-color: #538d4e;
  --absent-color: #3a3a3c;
  --dark-gray: #121213;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #121213;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto Condensed", sans-serif;
}
header {
  width: 100%;
  height: 5%;
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 1px solid #3a3a3c;
  font-size: 8px;
}

main {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* keyboard container styles */
.keyboard {
  width: 300px;
  height: 80px;
  position: absolute;
  bottom: 0px;
}
.keyboard-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.key {
  width: 25px;
  height: 25px;
  margin: 1px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #818384;
}
.special-button {
  width: 40px;
  font-size: 12px;
}
.spacer {
  width: 28px;
  height: 25px;
}

/* Gameboard container style */
.gameboard {
  margin-top: 50px;
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.gameboard-row {
  width: 100%;
  height: 14%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
}
.tile {
  height: 100%;
  width: 16%;
  border: 2px solid #3a3a3c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 24px;
  backface-visibility: hidden;
}

.tbd {
  animation: pulse 0.1s linear forwards;
}

.present {
  --backgroundColor: #b59f3b;
  --borderColor: #b59f3b;
  /* background-color: #b59f3b;
  border-color: #b59f3b; */
  animation: flip 0.5s linear forwards;
}
.absent {
  --backgroundColor: #3a3a3c;
  --borderColor: #3a3a3c;
  /* background-color: #3a3a3c;
  border-color: #3a3a3c; */
  animation: flip 0.5s linear forwards;
}
.correct {
  --backgroundColor: #538d4e;
  --borderColor: #538d4e;
  /* background-color: #538d4e;
  border-color: #538d4e; */
  animation: flip 0.5s linear forwards;
}
.present-keys {
  background-color: #b59f3b;
  border-color: #b59f3b;
}
.absent-keys {
  background-color: #3a3a3c;
  border-color: #3a3a3c;
}
.correct-keys {
  background-color: #538d4e;
  border-color: #538d4e;
}

@keyframes pulse {
  0% {
    border-color: #3a3a3c;
  }
  50% {
    border-color: #565758;
    transform: scale(1.08);
  }
  100% {
    transform: scale(1);
    border-color: #565758;
  }
}

@keyframes flip {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  60% {
    border-color: var(--borderColor);
    background-color: var(--backgroundColor);
  }
  100% {
    border-color: var(--borderColor);
    background-color: var(--backgroundColor);
    transform: rotateX(360deg);
  }
}
